*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
body{
	font-family: sans-serif;
	font-size: 13px;
	background: #f6f7f6;
}
header, article, main, hgroup, aside, footer{
	display: block;
}
nav img{
	float: right;
	width: 40px;
	height: 40px;
	margin-top: 5px;
	margin-right: 20px;
	border-radius: 50%;
}
img{
	max-width: 100%;
	height: auto;
}
nav:after{
	clear: both;
	content: "";
	display: block;
}
nav{
	background: #4e616f;
}
nav ul{
	float: left;
	color: #fff;
	list-style: none;
}
nav ul li{
	float: left;
	padding: 15px 30px;
	font-size: 17px;
}
nav ul li:hover{
	background: #f6f7f6;
	color: #000;
	cursor: pointer;
}
nav ul li sup{
	font-size: 10px;
	background: green;
	padding: 2px;
	border-radius: 50%;
}
#logo{
	background: #394952;
}
#logo i{
	padding-right: 10px;
}
#logo:hover{
	color: #fff;
}
/*designing navbar finished*/


/*styling left side bar*/
#left-side:after{
	clear: both;
	content: "";
	display: block;
}
#left-side{
	width: 25%;
	float: left;
	margin-top: 2%;
	margin-left: 1%;
}
.first-sd{
	padding: 15px;
	background: #fff;
	border-radius: 3px;
	text-align: center;
	box-shadow: 0 0 3px #818181;
}
.first-sd img{
	width: 100px;
	height: 100px;
	border-radius: 50%;
	border: 1px solid #e1e1e1;
	margin: 20px 0;
}
.first-sd ul{
	text-align: left;
	list-style: none;
	margin-top: 15px;
}
.first-sd ul li i{
	padding-right: 15px;
	color: #7d95a5;
}
.first-sd ul li{
	padding: 7px 0;
	font-size: 17px;
	font-weight: 100;
}
/* first inner side styling finished*/

.second-sd{
	background: #7d95a5;
	margin-top: 5%;
	border-radius: 3px;
	box-shadow: 0 0 3px #818181;
	color: #fff;
}
.second-sd ul li{
	font-size: 17px;
	font-weight: 100;
	padding: 10px 15px;
}
.second-sd ul li i{
	padding-right: 15px;
}
.second-sd ul li:hover{
	background: #818181;
	cursor: pointer;
}
/* second inner side styling finished*/

.third-sd{
	margin-top: 5%;
	background: #fff;
	padding: 15px;
	border-radius: 3px;
	box-shadow: 0 0 3px #818181;
}
.third-sd h4{
	font-weight: 100;
	font-size: 15px;
	margin-bottom: 10px;
}
.third-sd .love{
	color: #000;
	font-size: 12px;
	padding: 2px 4px;
	margin-top: 10px;
	display: inline-block;
	font-weight: 100;
}
.third-sd .a{
	background: #303c44;
	color: #fff;
}
.third-sd .b{
	background: #4e616f;
}
.third-sd .c{
	background: #9dafbc;
}
/* third side inner styling finished */
.fourth-sd{
	margin-top: 5%;
	background: #dfe3e8;
	border-radius: 3px;
	box-shadow: 0 0 3px #818181;
}
.fourth-sd:after{
	clear: both;
	content: "";
	display: block;
}
.fourth-sd .times{
	float: right;
	font-size: 20px;
	font-weight: bold;
	display: inline-block;
	background: #000;
	color: #fff;
	padding: 3px 10px;
}
.fourth-sd .times:hover{
	cursor: pointer;
	color: yellow;
}
.fourth-sd p{
	padding: 20px 15px;
	font-size: 15px;
}
/* fourth side inner styling finished*/

#main-wrapper:after{
	clear: both;
	content: "";
	display: block;
}
#main-wrapper{
	width: 55%;
	float: left;
	margin: 2% 1% 3% 1%;
}
.first-article{
	background: #fff;
	padding: 15px;
	border-radius: 3px;
	box-shadow: 0 0 3px #818181;
}
.first-article p{
	font-size: 15px;
	color: #818181;
	font-weight: 500;
}
.first-article input[type="text"]{
	width: 100%;
	padding: 10px;
	font-size: 15px;
	margin-top: 15px;
}
.first-article button{
	background: #607b8b;
	padding: 7px 10px;
	color: #fff;
	margin-top: 10px;
	font-size: 15px;
	border: none;
	border-radius: 2px;
	box-shadow: 0 0 3px #818181;
}
.first-article button i{
	padding-right: 10px;
}
.first-article button:hover{
	background: #818181;
	cursor: pointer;
}
/*first article styling finished*/
.second-article{
	margin-top: 5%;
	padding: 15px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 3px #818181;
}
.second-article header img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}
.second-article header small{
	text-align: right;
	display: block;
	font-size: 14px;
	color: #818181;
}
.second-article header h3{
	margin-top: 17px;
}
.second-article header{
	padding-bottom: 50px;
	border-bottom: 1px solid #e1e1e1;
}
.second-article p{
	font-size: 15px;
	margin: 10px 0;
}
.second-article img{
	width: 49%;
	float: left;
	margin-right: 2%;
}
.second-article #sd-img{
	width: 49%;
	margin-right: 0;
}
.second-article button{
	padding: 7px 10px;
	color: #fff;
	background: #607b8a;
	font-size: 16px;
	margin-top: 30px;
	border: none;
	box-shadow: 0 0 3px #818181;
	border-radius: 2px;
	margin-right: 10px;
}
.second-article button i{
	padding-right: 10px;
}
.second-article button:hover{
	cursor: pointer;
	background: #818181;
}
/* second article styling finished*/

.third-article{
	margin-top: 5%;
	padding: 15px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 3px #818181;
}
.third-article header small{
	text-align: right;
	display: block;
	font-size: 14px;
	color: #818181;
}
.third-article header img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}
.third-article p{
	font-size: 15px;
	margin: 10px 0;
}
.third-article header h3{
	margin-top: 17px;
}
.third-article header{
	padding-bottom: 50px;
	border-bottom: 1px solid #e1e1e1;
}
.third-article button{
	padding: 7px 10px;
	color: #fff;
	background: #607b8a;
	font-size: 16px;
	margin-top: 30px;
	border: none;
	box-shadow: 0 0 3px #818181;
	border-radius: 2px;
	margin-right: 10px;
}
.third-article button i{
	padding-right: 10px;
}
.third-article button:hover{
	cursor: pointer;
	background: #818181;
}
/* thid article styling finished*/
.fourth-article{
	margin-top: 5%;
	padding: 15px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 3px #818181;
}
.fourth-article header small{
	text-align: right;
	display: block;
	font-size: 14px;
	color: #818181;
}
.fourth-article header img{
	width: 50px;
	height: 50px;
	border-radius: 50%;
	float: left;
	margin-right: 10px;
}
.fourth-article p{
	font-size: 15px;
	margin: 10px 0;
}
.fourth-article header h3{
	margin-top: 17px;
}
.fourth-article header{
	padding-bottom: 50px;
	border-bottom: 1px solid #e1e1e1;
}
.fourth-article button{
	padding: 7px 10px;
	color: #fff;
	background: #607b8a;
	font-size: 16px;
	margin-top: 30px;
	border: none;
	box-shadow: 0 0 3px #818181;
	border-radius: 2px;
	margin-right: 10px;
}
.fourth-article button i{
	padding-right: 10px;
}
.fourth-article button:hover{
	cursor: pointer;
	background: #818181;
}
.fourth-article img{
	width: 100%;
}
/* fourth article styling finished*/
#right-side{
	width: 16%;
	margin: 2% 1% 0 0;
	float: left;
}
.first-rt{
	padding: 10px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 3px #818181;
	text-align: center;
	font-size: 15px;
	color: #818181;
}
.first-rt img{
	margin: 20px 0;
}
.first-rt button{
	width: 100%;
	margin-top: 20px;
	border: none;
	padding: 5px 0;
	background: #818181;
	color: #fff;
	font-size: 15px;
	border-radius: 2px;
}
.first-rt button:hover{
	background: #333;
	cursor: pointer;
}
/* first right side styling finished*/
.second-rt{
	padding: 10px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 3px #818181;
	text-align: center;
	font-size: 15px;
	color: #818181;
	margin-top: 10%;
}
.second-rt img{
	width: 50%;
	margin: 20px 0 5px 0;
}
.second-rt .btn{
	width: 47%;
	color: #fff;
	margin-right: 1%;
	display: inline-block;
	padding: 5px 0;
	margin-top: 15px;
	border-radius: 2px;
}
.second-rt .green{
	background: #96cf8f;
}
.second-rt .red{
	background: #f48f82;
}
.second-rt .btn:hover{
	background: #818181;
	cursor: pointer;
}
/*second right side styling finished*/

.third-rt{
	padding: 30px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 3px #818181;
	text-align: center;
	font-size: 20px;
	color: #96cf8f;
	margin-top: 10%;
}
/* third right side styling finished*/
.fourth-rt{
	padding: 40px;
	background: #fff;
	border-radius: 3px;
	box-shadow: 0 0 3px #818181;
	text-align: center;
	font-size: 20px;
	margin-top: 10%;
	color: #f48f82;
}
/* fourth right side styling finished*/
footer{
	clear: both;
	text-align: center;
	background: #e1e1e1;
	padding: 30px 0;
}
footer p{
	font-size: 15px;
	text-transform: uppercase;
	opacity: 0.6;
}
footer i{
	display: inline-block;
	margin: 30px 10px;
	padding: 10px;
	background: #818181;
	color: #fff;
	border-radius: 50%;
}
/* footer styling finished*/
/* drop down menu*/
nav ul ul{
	position: absolute;
	display: none;
	margin-top: 10px;
}
nav ul li:hover ul{
	display: block;
	background: #fff;
	color: #000;
	border-radius: 3px;
	box-shadow: 0 0 3px #818181;
}
nav ul li ul li{
	display: block;
	float: none;
	font-size: 12px;
}
nav ul li ul li:hover{
	background: #818181;
}
/* drop down menu*/

/* let's make our website responsive*/
@media screen and (max-width: 500px){
	nav{
		display: none;
	}
	#left-side{
		width: 94%;
		margin: 1% 3%;
	}
	#main-wrapper{
		width: 94%;
		margin: 5% 3%;
	}
	.second-article img{
		width: 100%;
	}
	.second-article #sd-img{
		width: 100%;
		margin-top: 3%;
	}
	.second-article p{
		text-align: justify;
	}
	#right-side{
		width: 94%;
		margin: 0 3%;
	}
	.second-rt .btn{
		width: 100%;
	}
	.third-rt{
		margin-top: 5%;
	}
	.fourth-rt{
		margin: 5% 0;
	}
}